/*=============== 
Fonts
===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary:'Rock Salt', cursive;
  --transition: all 0.2s linear;
  --max-width: 1170px;
  --clr-white: #fff;
  --clr-hover: #718093;
  --clr-black: #2f3640;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
}

img {
  width: 100%;
}

/* section */
.section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 70vw;
  }
}
